doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    title= title 
    link(href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.#{min}css",rel="stylesheet")
    link(href="//cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.8.0/metricsgraphics.#{min}css",rel="stylesheet")
    link(href="/stylesheets/style.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600", rel="stylesheet")

  body
    h1 Polisense 
    block content

    script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.#{min}js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.#{min}js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.8.0/metricsgraphics.min.js")
    block scripts